@import "tailwindcss";

@layer components {
  .bg-brown {
    background-color: #110b07;
  }
  .button-bg{
    background-color: #8C6239;
  }
  .butt-text-col{
    color: #EDBD7C;
  }
  .button-shadow:hover{
    box-shadow: 0 0 40px -6px #EDBD7C;
  }
  .gallery-bg{
    background-color: #141413;
  }
  .gallery-text{
    color: #634520;
  }
  .button-transparent-bg{
    background-color: #3a32278e;
  }
  .vertical-rl {
  writing-mode: vertical-rl;       /* try vertical-rl for left-side labels */
  text-orientation: upright;      /* keeps glyphs upright, not rotated */
  padding: 6px 10px;
  }
}
